<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('添加机器人')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-dict-add" th:object="${param}">
        <input type="hidden" id="batchID" name="batchID" th:field="*{batchID}"/>
        <input type="hidden" id="txtKindName" name="txtKindName" th:field="*{kindName}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">游戏类型：</label>
            <div class="col-sm-8">
                <select name="kindID" id="kindID" class="form-control">
                    <option th:each="data,dataStat : ${gameKindItemList}" th:value="${data.kindID}"
                            th:text="${data.kindName}" th:selected="${data.kindID} == ${param.kindID}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">游戏底注：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
                       name="cellScore" id="txtCellScore" th:field="*{cellScore}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">机器人数：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
                       id="txtAndroidCount" name="androidCount" th:field="*{androidCount}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">每个机器人携带分数(分)：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
                       id="txtTakeMinScore" name="takeMinScore" th:field="*{takeMinScore}" maxlength="10">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">机器人补桌：</label>
            <div class="col-sm-8" style="vertical-align:text-bottom;">
                <input type="checkbox" id="checkEnter" style="margin-top: 8px;" th:field="*{checkEnter}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">补桌间隔：</label>
            <div class="col-sm-8">
                <table>
                    <tr>
                        <td>
                            <input type="text" style="width: 100px" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" name="enterMinInterval"
                                   id="enterMinInterval" th:field="*{enterMinInterval}" maxlength="10">
                        </td>
                        <td style="text-align: center;width: 20px;"> - </td>
                        <td>
                            <input type="text" style="width: 100px" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" name="enterMaxInterval"
                                   id="enterMaxInterval" th:field="*{enterMaxInterval}" maxlength="10">
                        </td>
                        <td style="margin-left: 15px;text-align: center">&nbsp;&nbsp;秒 </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">机器人离场：</label>
            <div class="col-sm-8" style="vertical-align:text-bottom;">
                <input type="checkbox" id="checkLeave" style="margin-top: 8px;" th:field="*{checkLeave}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">离场间隔：</label>
            <div class="col-sm-8">
                <table>
                    <tr>
                        <td>
                            <input type="text" style="width: 100px" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" name="leaveMinInterval"
                                   id="leaveMinInterval" th:field="*{leaveMinInterval}" maxlength="10">
                        </td>
                        <td style="text-align: center;width: 20px;"> - </td>
                        <td>
                            <input type="text" style="width: 100px" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" name="leaveMaxInterval"
                                   id="leaveMaxInterval" th:field="*{leaveMaxInterval}" maxlength="10">
                        </td>
                        <td style="margin-left: 15px;text-align: center">&nbsp;&nbsp;秒 </td>
                    </tr>
                </table>
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "games/app";

    $(function () {
        if ($("#batchID").val() == -1) {
            $("#enterMinInterval").val("0");
            $("#enterMaxInterval").val("0");

            $("#leaveMinInterval").val("0");
            $("#leaveMaxInterval").val("0");
        }

        var checkEnter = $("#checkEnter").val();
        var checkLeave = $("#checkLeave").val();
        if (checkEnter == 1) {
            $("#checkEnter").attr('checked', 'true');
            $("#enterMinInterval").removeAttr("readonly");
            $("#enterMaxInterval").removeAttr("readonly");
        } else {
            $("#checkEnter").removeAttr('checked');
            $("#enterMinInterval").attr({readonly: 'true'});
            $("#enterMaxInterval").attr({readonly: 'true'});
        }

        if (checkLeave == 1) {
            $("#checkLeave").attr('checked', 'true');
            $("#leaveMinInterval").removeAttr("readonly");
            $("#leaveMaxInterval").removeAttr("readonly");
        } else {
            $("#checkLeave").removeAttr('checked');
            $("#leaveMinInterval").attr({readonly: 'true'});
            $("#leaveMaxInterval").attr({readonly: 'true'});
        }

        //机器人补桌复选框
        $("input[id='checkEnter']").on('change', function () {
            if ($('#checkEnter').is(':checked')) {
                $("#enterMinInterval").removeAttr("readonly");
                $("#enterMaxInterval").removeAttr("readonly");
            } else {
                console.log("未选中");
                $("#enterMinInterval").attr({readonly: 'true'});
                $("#enterMaxInterval").attr({readonly: 'true'});
            }
        });

        $("#checkLeave").change(function () {
            if ($('#checkLeave').is(':checked')) {
                console.log("选中");
                $("#leaveMinInterval").removeAttr("readonly");
                $("#leaveMaxInterval").removeAttr("readonly");
            } else {
                console.log("未选中");
                $("#leaveMinInterval").attr({readonly: 'true'});
                $("#leaveMaxInterval").attr({readonly: 'true'});
            }
        });
    });

    function submitHandler() {
        var id = $("#batchID").val();
        var kindName = "";
        if (id == -1) {
            kindName = $("#kindID option:selected").text();
        } else {
            kindName = $("#txtKindName").val();
        }

        var cellScore = $("#txtCellScore").val();
        var androidCount = $("#txtAndroidCount").val();
        var takeMinScore = $("#txtTakeMinScore").val();
        var enterMinInterval = $("#enterMinInterval").val();
        var enterMaxInterval = $("#enterMaxInterval").val();
        var leaveMinInterval= $("#leaveMinInterval").val();
        var leaveMaxInterval = $("#leaveMaxInterval").val();
        var checkEnter = 0;
        var checkLeave = 0;

        if ($('#checkEnter').is(':checked')) {
            checkEnter = 1;
        }
        if ($('#checkLeave').is(':checked')) {
            checkLeave = 1;
        }

        var reg = /^[0-9]+$/;
        if (!reg.test(androidCount) || !reg.test(takeMinScore) || !reg.test(enterMinInterval) || !reg.test(enterMaxInterval) || !reg.test(leaveMinInterval) || !reg.test(leaveMaxInterval)) {
            alert("输入错误");
            return
        }
        var data = {};
        data.batchID = id;
        data.kindName = kindName;
        data.kindID = $("#kindID").val();
        data.cellScore = cellScore;
        data.androidCount = androidCount;
        data.takeMinScore = takeMinScore;
        data.enterMinInterval = enterMinInterval;
        data.enterMaxInterval = enterMaxInterval;
        data.leaveMinInterval = leaveMinInterval;
        data.leaveMaxInterval = leaveMaxInterval;
        data.checkEnter = checkEnter;
        data.checkLeave = checkLeave;
        $.operate.save(prefix + "/add", JSON.stringify(data));
    }
</script>
</body>
</html>
