<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('添加机器人')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body>
<div class="main-content">
    <form id="form-user-add" class="form-horizontal">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">游戏类型：</label>
                    <div class="col-sm-8">
                        <select name="kindID" class="form-control m-b">
                            <option th:each="data : ${gameKindItemList}" th:text="${data.kindName}"
                                    th:value="${data.kindID}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">游戏底注：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="cellScore" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">机器人数：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="androidCount" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">每个机器人携带分数(分)：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="takeMinScore">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">机器人补桌：</label>
                    <div class="col-sm-8">
                        <input type="checkbox" id="checkEnter" name="checkEnter">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">机器人离场：</label>
                    <div class="col-sm-8">
                        <input type="checkbox" id="checkLeave" name="checkLeave">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">补桌间隔(秒)：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="enterMinInterval" id="enterMinInterval"
                               required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">-</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="enterMaxInterval" id="enterMaxInterval" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">离场间隔(秒)：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="leaveMinInterval" id="leaveMinInterval">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">-</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="leaveMaxInterval" id="leaveMaxInterval">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script type="text/javascript">
    var prefix = ctx + "games/app";

    $(function () {

        var checkEnter = $("#checkEnter").val();
        var checkLeave = $("#checkLeave").val();

        if (checkEnter == 1) {
            $("#checkEnter").attr('checked', 'true');
            $("#enterMinInterval").removeAttr("readonly"); //去除readonly属性
            $("#enterMaxInterval").removeAttr("readonly"); //去除readonly属性
        } else {
            $("#checkEnter").removeAttr('checked');
            $("#enterMinInterval").attr({readonly: 'true'});//添加readonly属性
            $("#enterMaxInterval").attr({readonly: 'true'});//添加readonly属性
        }

        if (checkLeave == 1) {
            $("#checkLeave").attr('checked', 'true');
            $("#leaveMinInterval").removeAttr("readonly"); //去除readonly属性
            $("#leaveMaxInterval").removeAttr("readonly"); //去除readonly属性
        } else {
            $("#checkLeave").removeAttr('checked');
            $("#leaveMinInterval").attr({readonly: 'true'});//添加readonly属性
            $("#leaveMaxInterval").attr({readonly: 'true'});//添加readonly属性
        }

        //机器人补桌复选框
        $("#checkEnter").change(function () {
            if ($('#checkEnter').is(':checked')) {
                console.log("选中");
                $("#enterMinInterval").removeAttr("readonly"); //去除readonly属性
                $("#enterMaxInterval").removeAttr("readonly"); //去除readonly属性

            } else {
                console.log("未选中");
                $("#enterMinInterval").attr({readonly: 'true'});//添加readonly属性
                $("#enterMaxInterval").attr({readonly: 'true'});//添加readonly属性
            }
        });

        $("#checkLeave").change(function () {
            if ($('#checkLeave').is(':checked')) {
                console.log("选中");
                $("#leaveMinInterval").removeAttr("readonly"); //去除readonly属性
                $("#leaveMaxInterval").removeAttr("readonly"); //去除readonly属性

            } else {
                console.log("未选中");
                $("#leaveMinInterval").attr({readonly: 'true'});//添加readonly属性
                $("#leaveMaxInterval").attr({readonly: 'true'});//添加readonly属性
            }
        });
    });

    function submitHandler() {
        $.operate.save(prefix + "/add", $('#form-dict-add').serialize());
    }
</script>
</body>
</html>
