<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('房间编辑')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body>
<div class="main-content">
    <form class="form-horizontal" id="form-game-edit" th:object="${info}">
        <input name="serverID" id="serverID" type="hidden" th:field="*{serverID}"/>
        <h4 class="form-header h4">游戏创建</h4>
        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">游戏类型：</div>
            <div class="col-xs-3">
                <input name="kindName" id="kindName" type="hidden" th:field="*{kindName}"/>
                <select class="form-control input-sm" id="kindID" name="kindID">
                    <option th:each="data,dataStat : ${gameKindItemList}" th:value="${data.kindID}"
                            th:text="${data.kindName}" th:selected="${data.kindID} == ${info.kindID}"></option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">房间名称：</div>
            <div class="col-xs-3">
                <input id="txtServerName" name="serverName" placeholder="请输入房间名称"
                       required class="form-control input-sm" th:field="*{serverName}" type="text" >
            </div>
        </div>
        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">底注金额：</div>
            <div class="col-xs-3">
                <input id="txtCellScore" name="cellScore" placeholder="请输入底注金额"
                       required class="form-control input-sm" th:field="*{cellScore}" type="text" >
            </div>
        </div>

        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">抽水比例：</div>
            <div class="col-xs-3">
                <input id="txtRevenueRatio" name="revenueRatio" placeholder="请输入税收" onkeyup="clearNoNum(this)"
                       onblur="clearNoNum(this)" th:field="*{revenueRatio}" required class="form-control input-sm"
                       type="text" ></div>(百分比)
        </div>

        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">桌子数量：</div>
            <div class="col-xs-3">
                <input id="txtTableCount" name="tableCount" placeholder="请输入桌子数量" min="1" max="200" required
                       class="form-control input-sm" th:field="*{tableCount}" type="text"></div>
        </div>

        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">账户不低于：</div>
            <div class="col-xs-3">
                <input id="txtMinEnterScore" name="minEnterScore" placeholder="请输入最低进入金额" required
                       class="form-control input-sm" th:field="*{minEnterScore}" type="text" ></div>
        </div>

        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">排列号：</div>
            <div class="col-xs-3">
                <input id="txtSortID" name="sortID" placeholder="请输入排序号" required
                       class="form-control input-sm" th:field="*{sortID}" onkeyup="this.value=this.value.replace(/\D/g,'')"
                       type="text" ></div>
        </div>

        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">服务端口：</div>
            <div class="col-xs-3">
                <input id="txtServerPort" name="serverPort" placeholder="请输入服务端口" required
                       class="form-control input-sm" onkeyup="this.value=this.value.replace(/\D/g,'')"
                       th:field="*{serverPort}" type="text" ></div>
        </div>

        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">房间等级：</div>
            <div class="col-xs-3">
                <input id="txtServerLevel" name="serverLevel" placeholder="请输入房间等级" required
                       class="form-control input-sm" onkeyup="this.value=this.value.replace(/\D/g,'')"
                       th:field="*{serverLevel}" type="text" ></div>
        </div>

        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">游戏人数：</div>
            <div class="col-xs-3">
                <input id="txtMaxPlayer" name="maxPlayer" placeholder="请输入游戏人数" required
                       class="form-control input-sm" onkeyup="this.value=this.value.replace(/\D/g,'')"
                       th:field="*{maxPlayer}" type="text" ></div>
        </div>

        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">大王炸赢：</div>
            <div class="col-xs-2">
                <input id="txtcbDWZWin" name="cbDWZWin" placeholder="大王炸赢必须为9的倍数" required
                       class="form-control input-sm" th:field="*{cbDWZWin}" type="text">
            </div>
            <div class="col-xs-2 " style="text-align:right;margin-left:-100px;padding-top:7px;margin-bottom:0;">九人每位赔：</div>
            <div class="col-xs-2">
                <input id="txtcbDWZWin2Nine" name="cbDWZWin2Nine" placeholder="请输入每位赔的金额" required
                       class="form-control input-sm" th:field="*{cbDWZWin2Nine}" type="text">
            </div>元
        </div>

        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">小王炸赢：</div>
            <div class="col-xs-2">
                <input id="txtcbXWZWin" name="cbXWZWin" placeholder="小王炸赢和小炸赢之和必须为8的倍数" required
                       class="form-control input-sm" th:field="*{cbXWZWin}" type="text">
            </div>

            <div class="col-xs-2" style="text-align:right;margin-left:-100px;padding-top:7px;margin-bottom:0;">小炸赢：</div>
            <div class="col-xs-2">
                <input id="txtcbWZWin" name="cbWZWin" placeholder="大雷输和小雷输之和为8的倍数" required
                       class="form-control input-sm" th:field="*{cbWZWin}" type="text">
            </div>

            <div class="col-xs-2 " style="text-align:right;margin-left:-100px;padding-top:7px;margin-bottom:0;">八人每位赔：</div>
            <div class="col-xs-2">
                <input id="txtcbXLLost2Eigbht" name="cbXLLost2Eigbht" placeholder="请输入八人每位赔" required
                       class="form-control input-sm" th:field="*{cbXLLost2Eigbht}" type="text"></div>元
        </div>

        <div class="row" style="margin-top:15px;margin-bottom:15px;">
            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;">大雷赔：</div>
            <div class="col-xs-2">
                <input id="txtcbDLLost" name="cbDLLost" placeholder="请输入大雷赔金额" required
                       class="form-control input-sm" th:field="*{cbDLLost}" type="text"></div>

            <div class="col-xs-2" style="text-align:right;padding-top:7px;margin-bottom:0;margin-left:-100px">小雷赔：</div>
            <div class="col-xs-2">
                <input id="txtcbXLLost" name="cbXLLost" placeholder="请输入小雷赔金额" required
                       class="form-control input-sm" th:field="*{cbXLLost}" type="text">
            </div>

            <div class="col-xs-2 " style="text-align:right;margin-left:-100px;padding-top:7px;margin-bottom:0;">八人每位赢：</div>
            <div class="col-xs-2">
                <input id="txtcbWZWin2Eight" name="cbWZWin2Eight" placeholder="请输入八人每位赢" required
                       class="form-control input-sm" th:field="*{cbWZWin2Eight}" type="text">
            </div>元
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存
        </button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
        </button>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script type="text/javascript">
    var prefix = ctx + "games/game";

    function clearNoNum(obj) {
        //修复第一个字符是小数点 的情况.
        if (obj.value != '' && obj.value.substr(0, 1) == '.') {
            obj.value = "";
        }
        obj.value = obj.value.replace(/^0*(0\.|[1-9])/, '$1');//解决 粘贴不生效
        obj.value = obj.value.replace(/[^\d.]/g, "");  //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d).*$/, '$1$2.$3');//只能输入一个小数
        if (obj.value.indexOf(".") < 0 && obj.value != "") {//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            if (obj.value.substr(0, 1) == '0' && obj.value.length == 2) {
                obj.value = obj.value.substr(1, obj.value.length);
            }
        }
    }

    function isValue(obj) {
        var num = parseInt(obj);
        if (typeof obj == "undefined" || obj == null || obj == "" || num < 0) {
            num = 0;
        }
        return num;
    }

    function checkForm() {
        var kindID = $("#kindID").val();
        var revenueRatio = $("#txtRevenueRatio").val();
        var cellScore = $("#txtCellScore").val();
        var minEnterScore = $("#txtMinEnterScore").val();
        var tableCount = $("#txtTableCount").val();
        var cbDWZWin = $("#txtcbDWZWin").val();
        var cbXWZWin = $("#txtcbXWZWin").val();
        var cbWZWin = $("#txtcbWZWin").val();
        var cbDLLost = $("#txtcbDLLost").val();
        var cbXLLost = $("#txtcbXLLost").val();
        var cbDWZWin2Nine = $("#txtcbDWZWin2Nine").val();
        var cbXLLost2Eigbht = $("#txtcbXLLost2Eigbht").val();
        var cbWZWin2Eight = $("#txtcbWZWin2Eight").val();

        if (isValue(kindID) == 0) {
            $.modal.alertError("请选择游戏类型!");
            return false;
        }

        if (isValue(cellScore) == 0) {
            $.modal.alertError("底注金额有误!");
            return false;
        }

        if (isValue(revenueRatio) == 0) {
            $.modal.alertError("抽水比例有误!");
            return false;
        }

        if (isValue(tableCount) == 0) {
            $.modal.alertError("桌子数量有误");
            return false;
        }

        if (isValue(minEnterScore) == 0) {
            $.modal.alertError("进入游戏账户余额有误");
            return false;
        }

        if (isValue(cbDWZWin) == 0) {
            $.modal.alertError("大王炸赢金额有误");
            return false;
        }

        if (isValue(cbDWZWin2Nine) == 0) {
            $.modal.alertError("九人每位赔金额有误");
            return false;
        }

        if (isValue(cbXWZWin) == 0) {
            $.modal.alertError("小王炸赢金额有误");
            return false;
        }

        if (isValue(cbWZWin) == 0) {
            $.modal.alertError("小炸赢金额有误");
            return false;
        }

        if (isValue(cbXLLost2Eigbht) == 0) {
            $.modal.alertError("八人每位赔金额有误");
            return false;
        }

        if (isValue(cbDLLost) == 0) {
            $.modal.alertError("大雷赔金额有误");
            return false;
        }

        if (isValue(cbXLLost) == 0) {
            $.modal.alertError("小雷赔金额有误");
            return false;
        }

        if (isValue(cbWZWin2Eight) == 0) {
            $.modal.alertError("八人每位赢金额有误");
            return false;
        }

        if (parseFloat(cbDWZWin) != parseFloat(cbDWZWin2Nine) * 9) {
            $.modal.alertError("大王炸赢金额与九人每人赔的金额总计不相等");
            return false;
        }

        if ((parseFloat(cbXWZWin) + parseFloat(cbWZWin)) != parseFloat(cbXLLost2Eigbht) * 8) {
            $.modal.alertError("小王炸赢与小炸加每八人赔总计金额不相等")
            return false;
        }

        if ((parseFloat(cbDLLost) + parseFloat(cbXLLost)) != parseFloat(cbWZWin2Eight) * 8) {
            $.modal.alertError("大雷赔与小雷赔加每八人赢总计金额不相等")
            return false;
        }
        return true;
    }

    function submitHandler() {
        var data = $("#form-game-edit").serializeArray();
        var serverID = $("#serverID").val();

        var flag = checkForm();
        if (!flag) {
            return;
        }

        data.push({"name": "kindID", "value": $("#kindID").val()});
        data.push({"name": "kindName", "value": $("#kindID option:selected").text()});

        var cmd = "add";
        if (parseInt(serverID) > 0) {
            cmd = "update";
        } else {
            cmd = "add";
        }

        data.push({"name": "cmd", "value": cmd});

        $.ajax({
            cache: true,
            type: "POST",
            url: prefix + "/editOrAdd",
            data: data,
            async: false,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                $.operate.successCallback(data);
            }
        });
    }
</script>
</body>
</html>