<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('提现申请')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <input type="hidden" id="result" name="result" value="0">
                    <div class="select-list">
                        <ul>
                            <li class="select-time">
                                <label>日期查询： </label>
                                <input type="text" id="startDate" placeholder="开始时间"
                                       name="startDate" th:value="${startDate}" readonly/>
                                <span>-</span>
                                <input type="text" id="endDate" placeholder="结束时间"
                                       name="endDate" th:value="${endDate}" readonly/>
                            </li>
                            <li class="select-time">
                                <label>金额范围： </label>
                                <input type="text" id="minMoney" placeholder="输入金额"
                                       name="minMoney"/>
                                <span>至</span>
                                <input type="text" id="maxMoney" placeholder="输入金额"
                                       name="maxMoney"/>
                            </li>
                            <li>
                                <label>用户查询： </label>
                                <input type="text" class="form-control" id="keyWord" placeholder="输入用户查询"
                                       name="keyWord"/>
                            </li>
                            <li>
                                <label>订单号： </label>
                                <input type="text" class="form-control" id="orderID" placeholder="输入订单号"
                                       name="orderID"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;刷新</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: ztree-js"/>
<script th:inline="javascript">
    var datas = [[${@dict.getType('games_account_stats')}]];
    var prefix = ctx + "games/filled";

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        // 回到顶部绑定
        if ($.fn.toTop !== undefined) {
            var opt = {
                win: $('.ui-layout-center'),
                doc: $('.ui-layout-center')
            };
            $('#scroll-up').toTop(opt);
        }

        layui.use('laydate', function () {
            var laydate = layui.laydate;

            laydate.render({
                elem: '#startDate',
                type: 'datetime',
                trigger: 'click'
            });

            laydate.render({
                elem: '#endDate',
                type: 'datetime',
                trigger: 'click'
            });

        });

        queryDataList();
    });

    function queryDataList() {
        var options = {
            url: prefix + "/userdistillslist",
            sortName: "HandleDateTime",
            sortOrder: "desc",
            modalName: "提现申请",
            showFooter: true,
            showToggle: false,
            footerStyle: footerStyle,
            columns: [
                {
                    field: 'id',
                    title: '单号'
                },
                {
                    field: 'userID',
                    title: '用户ID'
                },
                {
                    field: 'accounts',
                    title: '用户名',
                },
                {
                    field: 'bankUserName',
                    title: '姓名',
                },
                {
                    field: 'bankCardNumber',
                    title: '银行账号'
                },
                {
                    field: 'money',
                    title: '金额',
                    footerFormatter: function (value) {
                        var sumBalance = 0;
                        for (var i in value) {
                            sumBalance = value[i].payAmount;
                        }
                        return "申请金额：" + sumBalance;
                    }
                },
                {
                    field: 'beforeGold',
                    title: '变更前金额',
                    footerFormatter: function (value) {
                        var count = 0;
                        for (var i in value) {
                            count = value[i].payAmountCount;
                        }
                        return "申请笔数：" + count;
                    }
                },
                {
                    field: 'afterGold',
                    title: '变更后金额'
                },
                {
                    field: 'handleDateTime',
                    title: '时间',
                    formatter: function (value, row, index) {
                        if (value == null) {
                            return row.dateTime;
                        } else {
                            return value;
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="noAccept(\'' + row.id + '\',\'' + row.userID + '\')"><i class="fa fa-remove"></i>提款拒绝</a>');
                        actions.push('<a class="btn btn-success btn-xs" href="#" onclick="accept(\'' + row.id + '\',\'' + row.userID + '\')"><i class="fa fa-edit"></i>审核通过</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    $('#btnExpand').click(function () {
        $._tree.expandAll(true);
        $(this).hide();
        $('#btnCollapse').show();
    });

    $('#btnCollapse').click(function () {
        $._tree.expandAll(false);
        $(this).hide();
        $('#btnExpand').show();
    });

    function footerStyle(column) {
        return {
            money: {
                css: {color: 'red', 'font-weight': 'normal'}
            },
            beforeGold: {
                css: {color: 'red', 'font-weight': 'normal'}
            }
        }[column.field]
    }

    function noAccept(id, userID) {
        var url = prefix + "/accept";
        layer.prompt({title: '输入拒绝原因', formType: 2}, function (pass, index) {
            layer.close(index);
            var data = {"userID": userID, "id": id, "reason": pass, "operaType": 0};
            $.operate.submit(url, "post", "json", data);
            queryDataList();
        });
    }

    function accept(id, userID) {
        var url = prefix + "/accept";
        var data = {"userID": userID, "id": id, "reason": "已接受提款，正等待付款", "operaType": 1};
        $.operate.submit(url, "post", "json", data);
    }

</script>
</body>
</html>