<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.games.mapper.AccountInfoMapper">

    <resultMap type="com.ruoyi.games.domain.AccountInfo" id="AccountInfoResult">
        <id property="userID" column="UserID"/>
        <result property="gameID" column="GameID"/>
        <result property="nickName" column="NickName"/>
        <result property="registerMobile" column="RegisterMobile"/>
        <result property="compellation" column="Compellation"/>
        <result property="userType" column="UserType"/>
        <result property="playTimeCount" column="PlayTimeCount"/>
        <result property="playingGame" column="PlayingGame"/>
        <result property="registerDate" column="RegisterDate"/>
        <result property="lastLogonIp" column="LastLogonIp"/>
        <result property="lastLogonDate" column="LastLogonDate"/>
        <result property="nullity" column="Nullity"/>
        <result property="score" column="Score"/>
        <result property="insureScore" column="InsureScore"/>
        <result property="orderAmount" column="OrderAmount"/>
        <result property="money" column="Money"/>
        <result property="totalCommission" column="TotalCommission"/>

        <result property="kindID" column="KindID"/>
        <result property="kindName" column="KindName"/>
        <result property="serverID" column="ServerID"/>
        <result property="collectDate" column="CollectDate"/>
        <result property="totalScore" column="TotalScore"/>
        <result property="isAndroid" column="IsAndroid"/>
        <result property="agentName" column="AgentName"/>
        <result property="advertiser" column="Advertiser"/>
        <result property="advertPlat" column="AdvertPlat"/>
        <result property="lastLogonIPAddress" column="LastLogonIPAddress"/>
    </resultMap>

    <resultMap id="OrderInfoResult" type="com.ruoyi.games.domain.OrderInfo">
        <result property="orderid" column="orderid"/>
        <result property="userid" column="userid"/>
        <result property="payamount" column="payamount"/>
    </resultMap>

    <select id="selectAccountPage" parameterType="java.util.Map" resultMap="AccountInfoResult" statementType="CALLABLE">
        {call RYTreasureDB.dbo.JSON_GetAccountsList(
            #{strWhere,mode=IN,jdbcType=VARCHAR},
            #{pageSize,mode=IN,jdbcType=INTEGER},
            #{pageIndex,mode=IN,jdbcType=INTEGER},
            #{pageCount,mode=OUT,jdbcType=INTEGER},
            #{recordCount,mode=OUT,jdbcType=INTEGER})}
    </select>

    <select id="getCanCachOut" parameterType="java.util.Map" resultType="java.lang.String" statementType="CALLABLE">
        {call RYTreasureDB.dbo.JSON_GetCanCachOut(
                #{userID,mode=IN,jdbcType=INTEGER},
                #{gameID,mode=IN,jdbcType=INTEGER})}
    </select>

    <select id="selectAccountByUserID" resultMap="AccountInfoResult">
        SELECT  UserID, GameID, Accounts, NickName, IsAgent, RegisterMobile, Compellation, UserType,
                PlayTimeCount, PlayingGame, RegisterDate, LastLogonIp, LastLogonDate, Nullity
        FROM
            RYAccountsDB.dbo.AccountsInfo
        WHERE UserID = #{userID,jdbcType=INTEGER}
    </select>
    
    <update id="freezeAccount">
        UPDATE RYAccountsDB.dbo.AccountsInfo SET Nullity=1 where UserID in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <update id="unFreezeAccount">
        UPDATE RYAccountsDB.dbo.AccountsInfo SET Nullity = 0 where UserID in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>
    
    <select id="grantTreasure" parameterType="java.util.Map" resultMap="OrderInfoResult" statementType="CALLABLE">
        {call RYTreasureDB.dbo.NET_PM_GrantTreasure(
                #{dwTypeId,mode=IN},
                #{strUserIDList,mode=IN},
                #{dwAddGold,mode=IN},
                #{dwMasterID,mode=IN},
                #{strReason,mode=IN},
                #{strClientIP,mode=IN},
                #{typeID,mode=IN}
            )}
    </select>

    <update id="setTeShu">
        UPDATE RYAccountsDB.dbo.AccountsInfo SET UserType=5 where UserID in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <update id="qxTeShu">
        UPDATE RYAccountsDB.dbo.AccountsInfo SET UserType=0 where UserID in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>
    
    <select id="getOnlieList" parameterType="com.ruoyi.games.domain.AccountInfo" resultMap="AccountInfoResult">
        SELECT * FROM RYAccountsDB.dbo.View_Online
        WHERE 1=1
        <if test="kindID != null and kindID >= 0">
            AND KindID = #{kindID}
        </if>
        <if test="kindID != null and kindID == -2">
            AND KindID > 0
        </if>
        <if test="gameID != null" >
            AND GameID = #{gameID}
        </if>
        <if test="accounts != null">
            AND Accounts = #{accounts}
        </if>
        <if test="keyWord != null">
            AND (GameID = #{keyWord} OR Accounts = #{keyWord} )
        </if>
        ${params.dataScope}
    </select>
    
    <delete id="deleteGameScoreLocker">
        delete from  RYTreasureDB.dbo.GameScoreLocker where KindID = 9999
    </delete>

    <delete id="deleteGameScoreLockerByUsers">
        delete from  RYTreasureDB.dbo.GameScoreLocker WHERE UserID in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

</mapper> 