<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.games.mapper.GameRoomInfoMapper">

    <resultMap type="com.ruoyi.games.domain.GameRoomInfo" id="GameRoomInfoResult">
        <id property="serverID" column="ServerID"/>
        <result property="serverName" column="ServerName"/>
        <result property="kindID" column="KindID"/>
        <result property="kindName" column="KindName"/>
        <result property="nodeID" column="NodeID"/>
        <result property="sortID" column="SortID"/>
        <result property="gameID" column="GameID"/>
        <result property="tableCount" column="TableCount"/>
        <result property="serverKind" column="ServerKind"/>
        <result property="serverType" column="ServerType"/>
        <result property="serverPort" column="ServerPort"/>
        <result property="serverPasswd" column="ServerPasswd"/>
        <result property="nullity" column="Nullity"/>
        <result property="dataBaseName" column="DataBaseName"/>
        <result property="dataBaseAddr" column="DataBaseAddr"/>
        <result property="cellScore" column="CellScore"/>
        <result property="revenueRatio" column="RevenueRatio"/>
        <result property="serviceScore" column="ServiceScore"/>
        <result property="restrictScore" column="RestrictScore"/>
        <result property="minTableScore" column="MinTableScore"/>
        <result property="minEnterScore" column="MinEnterScore"/>
        <result property="maxEnterScore" column="MaxEnterScore"/>
        <result property="minEnterMember" column="MinEnterMember"/>
        <result property="maxEnterMember" column="MaxEnterMember"/>
        <result property="maxPlayer" column="MaxPlayer"/>
        <result property="serverRule" column="ServerRule"/>
        <result property="distributeRule" column="DistributeRule"/>
        <result property="minDistributeUser" column="MinDistributeUser"/>
        <result property="distributeTimeSpace" column="DistributeTimeSpace"/>
        <result property="distributeDrawCount" column="DistributeDrawCount"/>
        <result property="minPartakeGameUser" column="MinPartakeGameUser"/>
        <result property="maxPartakeGameUser" column="MaxPartakeGameUser"/>
        <result property="attachUserRight" column="AttachUserRight"/>
        <result property="serviceMachine" column="ServiceMachine"/>
        <result property="customRule" column="CustomRule"/>
        <result property="serverNote" column="ServerNote"/>
        <result property="createDateTime" column="CreateDateTime"/>
        <result property="modifyDateTime" column="ModifyDateTime"/>
        <result property="enterPassword" column="EnterPassword"/>
        <result property="serverLevel" column="ServerLevel"/>
        <result property="attachFiled" column="AttachFiled"/>

        <result property="userCount" column="UserCount"/>
        <result property="addCounts" column="AddCounts"/>
        <result property="androidCount" column="AndroidCount"/>
        <result property="gameRevenue" column="GameRevenue"/>
        <result property="agentRevenue" column="AgentRevenue"/>
        <result property="isOnline" column="IsOnline"/>
    </resultMap>

    <resultMap id="GameRoomCommissionResult" type="com.ruoyi.games.domain.GameRoomCommission">
        <id property="serverID" column="ServerID"/>
        <result property="gameRevenue" column="GameRevenue"/>
        <result property="agentRevenue" column="AgentRevenue"/>
    </resultMap>

    <select id="getGameRoomInfo" parameterType="java.lang.Integer" resultMap="GameRoomInfoResult">
        SELECT *
        FROM RYPlatformDB.dbo.GameRoomInfo(NOLOCK)
        WHERE ServerID = #{serverID}
    </select>

    <select id="getGameRoomInfoByKindId" parameterType="java.lang.Integer" resultMap="GameRoomInfoResult">
        SELECT * FROM RYPlatformDB.dbo.GameRoomInfo(NOLOCK) WHERE Kindid=#{kindId}
    </select>

    <select id="getGameRoomInfoByUserID" parameterType="java.lang.Integer" resultMap="GameRoomInfoResult">
        SELECT gri.*
        FROM RYPlatformDB.dbo.GameRoomInfo(NOLOCK) gri
                 JOIN RYTreasureDB.dbo.GameScoreLocker(NOLOCK) gsl ON gri.ServerID = gsl.ServerID
        WHERE gsl.UserID = #{userID}
    </select>
    
    <select id="getOnlineRoomsList" parameterType="com.ruoyi.games.domain.GameRoomInfo" resultMap="GameRoomInfoResult">
        select * from RYTreasureDB.dbo.V_GetGameRoomsList
        where 1=1
        <if test="serverLevel != null and serverLevel == 10">
            and ServerLevel 	&lt; 10
        </if>
        <if test="serverLevel != null and serverLevel == 11">
            and ServerLevel 	&gt;= 10
        </if>
        <if test="kindID != null and kindID > 0">
            and KindID = #{kindID}
        </if>
        <if test="cellScore != null and cellScore != ''">
            and CellScore = #{cellScore}
        </if>
        ${params.dataScope}
    </select>

    <select id="getRoomsList" resultMap="GameRoomInfoResult">
        select * from RYTreasureDB.dbo.V_GetGameRoomsList
        where 1=1 order by ServerID desc
    </select>

    <select id="getCommissionByServerForAll" resultMap="GameRoomCommissionResult" statementType="CALLABLE">
        { call RYTreasureDB.dbo.JSON_GetCommissionByServerIDForAll() }
    </select>

    <update id="updateCustomRuleByKindId">
        UPDATE RYPlatformDB.dbo.GameRoomInfo set CustomRule = #{customRule} where KindID = #{kindId}
    </update>

    <update id="updateNullityByKindId">
        UPDATE RYPlatformDB.dbo.GameRoomInfo set Nullity = #{nullity} where KindID = #{kindId}
    </update>

    <update id="updateAndroidConfigureByKindId">
        UPDATE RYPlatformDB.dbo.AndroidConfigure set Nullity = #{nullity} where KindID = #{kindId}
    </update>

    <delete id="deleteGameRoomInfo">
        delete RYPlatformDB.dbo.GameRoomInfo where ServerID = #{serverID}
    </delete>

    <delete id="deleteAndroidConfigure">
        delete RYAccountsDB.dbo.AndroidConfigure where ServerID = #{serverID}
    </delete>
</mapper> 