<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.games.mapper.TableDataMapper">

    <resultMap type="com.ruoyi.games.domain.TableData" id="TableDataResult">
        <id property="id" column="ID"/>
        <result property="counts" column="Counts"/>
        <result property="maxTime" column="MaxTime"/>
        <result property="minTime" column="MinTime"/>
        <result property="tabName" column="TabName"/>
    </resultMap>

    <select id="getTableDataList" resultMap="TableDataResult" statementType="CALLABLE">
        {call RYTreasureDB.dbo.WSP_PM_StatRecordTable()}
    </select>

    <select id="oneKeyDeleteFor" resultMap="TableDataResult" parameterType="java.util.Map" statementType="CALLABLE">
        {call RYTreasureDB.dbo.JSON_OneKeyDeleteFor(
                #{startDate,mode=IN},
                #{endDate,mode=IN},
                #{strErr,mode=OUT,jdbcType=VARCHAR})}
    </select>

</mapper> 